@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.montserrat {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

:root {
	background-image: var(--background-image);
	--font-body: Montserrat, sans-serif;
	font-family: var(--font-body);
	overflow-wrap: break-word;
	word-break: break-word;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	--rounded-radius: 40px;
	--margins: 20px;
	--half-margin: calc(var(--margins) / 2);
}

h1 {
	font-size: 2em;
}

h1,
h2 {
	text-transform: uppercase;
	/* text-align: center; */
	font-weight: 400;
	line-height: 1em;
}

button,
a {
	cursor: pointer;
}

button.discord-button {
	& > svg {
		width: auto;
		/* aspect-ratio: 200 / 60; */
		height: 1.5em;
		vertical-align: middle; /* This can be removed with flexbox */
		transform: translate(0, -1px);
		padding-left: 0.8em;
		transition: height 0.3s;
	}
	&:hover {
		background-color: rgba(var(--text-color), 0.15);
		& > svg {
			height: 1.8em;
		}
	}
}

button.listen-button:hover > svg {
	height: 1.8em;
}

button.nav-button {
	backdrop-filter: blur(50px);
}

body {
	line-height: 25.6px;
	min-height: 100dvh;
	width: 100%;
	margin: 0px; /* Remove default margin */
	/*height: 100dvh; /* Full height of the viewport */
}

p {
	font-weight: 400;
}

.rounded,
section {
	/* border-radius: 40px; */
	border-radius: var(--rounded-radius);
}

a {
	text-decoration: none;
	font-weight: 700;
	&:hover {
		text-decoration: underline;
	}
}

.light {
	& a {
		color: rgb(106, 91, 213);
	}

	li:has(> * > div.expanded),
	li.list-section:hover {
		background-color: rgb(var(--accent));
		color: white;
	}
}

.dark {
	& a {
		color: rgb(151, 151, 255);
	}

	li:has(> * > div.expanded),
	li.list-section:hover {
		/* background-color: rgb(36, 36, 66); */
		background-color: rgb(var(--accent));
		color: white;
	}
}

bold,
strong {
	font-weight: 700;
}

li:has(.expanded) a:not([role="button"]),
.list-section:hover a:not([role="button"]) {
	/* color: rgb(117, 204, 255); */
	color: hsl(202, 100%, 75%);
}

#performance-banner > :nth-child(2) {
	flex-grow: 0;
	flex-shrink: 0;
}

section {
	scroll-margin-top: 120px;
	&:not(.remove-styles) {
		margin: var(--margins) auto;
		&:not(.modal) {
			padding: var(--margins);
		}
		box-sizing: border-box;
		max-width: 80%;
		text-align: center;
		&:not(.expandable-sections) {
			&:not(.modal) {
				background-color: rgba(
					var(--background),
					var(--background-opacity)
				);
				backdrop-filter: blur(50px);
			}
		}
	}
	&.expandable-section {
		& p {
			white-space: wrap;
		}

		& > *:not(ol):not(ul) {
			max-width: 90%;
			margin-left: auto;
			margin-right: auto;
		}
		& * {
			overflow-x: clip;
		}
		&:not(.not-max),
		&:hover,
		&.clicked {
			.list-section > .reset-wrapper > .content.expanded {
				max-height: 700px;
				padding: 4px var(--margins);
				margin: var(--half-margin) 0px 0px;
			}
		}
	}
}

@media (max-width: 960px) {
	section#home {
		background: none;
		backdrop-filter: none;
	}
}

@media (max-width: 480px) {
	section#home {
		background-color: rgba(var(--background), var(--background-opacity));
		backdrop-filter: blur(50px);
	}
	section:not(.remove-styles),
	.album-player {
		max-width: calc(100% - var(--margins) * 2);
		width: calc(100% - var(--margins) * 2);
	}

	.album-player > section {
		max-width: 100%;
		width: 100%;
	}
}
@media (max-width: 320px) {
	:root {
		/* font-size: 16px; */
		--margins: 16px;
	}

	#performance-banner > :nth-child(2) button {
		font-size: 0.8em;
	}
}
